<% include partials/header%>


    <div class="container" style="margin-top:80px">
        <div class="row">
            <div class="col-md-4 hm-info">
             
           </div>
            <div class="col-md-4 hm-info2">
            
            </div>
            <div class="col-md-4 hm-info3">
            </div>
         
        </div>
    </div>

    <div class="container" style="margin-top:80px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h3>Can I give blood?</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <hr>
          <p><a class="btn btn-primary btn-full" href="#" role="button">Learn more <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
        </div>
        <div class="col-md-3">
          <h3>Donation Process</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <hr>
          <p><a class="btn btn-primary btn-full" href="#" role="button">Learn more <i class="fa fa-question-circle-o" aria-hidden="true"></i></a></p>
       </div>
        <div class="col-md-3">
          <h3>Become a Blood Donor</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <hr>
          <p><a class="btn btn-primary btn-full" href="#" role="button">Sign up <i class="fa fa-user-plus" aria-hidden="true"></i></a></p>
        </div>
         <div class="col-md-3">
          <h3>Add Hospital</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <hr>
          <p><a class="btn btn-primary btn-full" href="#" role="button">Add now <i class="fa fa-hospital-o" aria-hidden="true"></i></a></p>
        </div>
      </div>

      <hr>
      <div class="container" style="margin-top:80px;">
          <div class="row">
              <div class="col-md-6 main-info img-cnt"></div>
              <div class="col-md-6 main-info">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris ligula,
                     iaculis nec efficitur quis, egestas in ipsum. Donec consectetur odio non tellus
                     facilisis, quis consectetur lacus dictum. Phasellus finibus rutrum ligula ac vestibulum.
                     Sed id erat ex. Nullam auctor libero orci, non maximus sapien placerat at.</p>
              </div>
          </div>
      </div>
      <hr>
      <div class="container" style="margin-top:80px;">
          <div class="row">
              <div class="col-md-6 main-info">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris ligula,
                     iaculis nec efficitur quis, egestas in ipsum. Donec consectetur odio non tellus
                     facilisis, quis consectetur lacus dictum. Phasellus finibus rutrum ligula ac vestibulum.
                     Sed id erat ex. Nullam auctor libero orci, non maximus sapien placerat at.</p>
              </div>
              <div class="col-md-6 main-info img-cnt"></div>
          </div>
      </div>
      <hr>
      
<% include partials/footer%>