<% include partials/header%>

<div class="container">
  
        <div class="col-md-6 fifty2">
          <h3><i class="fa fa-exclamation-triangle" style="color: #B22222;" aria-hidden="true"></i> Qualification Check</h3>
          <p>Please check the below table to see if you have any one of the illnesses or states that disqualify you from being a blood donor. If you have none of the illnesses from the table, simply check    <span style="color: #B22222;">"I don't have any of these"</span> and proceed to filling registration details and hit "Submit".</p>
          <table class="table qualification">
  <thead class="thead-inverse">
    <tr>
      <th>Illness</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>AIDS</td>
      <td>Being positive for the AIDS or hepatitis viruses disqualifies you from being a blood donor.</td>
    </tr>
    <tr>
      <td>Pregnancy</td>
      <td>Pregnancy and recent childbirth rule one out as a blood donor.</td>
    </tr>
    <tr>
      <td>Cancer</td>
      <td>For almost all cancers (such as breast, brain, prostate, and lung), a person may donate blood five years after diagnosis or date of the last surgery, last chemotherapy or last radiation treatment.</td>
    </tr>
    <tr>
      <td>Blood Cancer</td>
      <td>For blood cancers (such as leukemia or lymphoma), a person is not allowed to donate blood.</td>
    </tr>
      <tr>
      <td>Malaria</td>
      <td>People who had malaria can not donate their blood for 12 months.</td>
    </tr>
    <tr>
      <td>Diabates</td>
      <td>People who take insulin are not allowed to give blood.</td>
    </tr>
    
  </tbody>
</table>
<div class="form-check" style="color:#B22222; font-size:16px;">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"><i class="fa fa-smile-o" aria-hidden="true"></i> I don't have any of these.</label>
  </div>
        </div>
        <div class="col-md-6 fifty">
      
                <form class="px-4 py-3" action="/register" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="exampleDropdownFormEmail1" placeholder="choose a username" required>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="gender">Gender</label>
                    <select name="gender" class="form-control" style="width:100%;color:gray;" id="gender">
                        <option value="manuser">Male</option>
                        <option value="womanuser">Female</option>
                    </select>
                    
                    
                  </div>
                  <div class="form-group col-md-4">
                                      <label for="exampleDropdownFormEmail1"> Select Your Blood Type</label>
                  <select class="selectpicker" name="bloodType"  data-style="btn-info" multiple data-max-options="1" data-live-search="true">
 
                      <optgroup label="A group">
                       
                      <option>A+ (A Rhd positive)</option>
                       
                      <option>A- (A Rhd negative)</option>
                       
                      </optgroup>
                       
                      <optgroup label="B group">
                       
                      <option>B+ (B Rhd positive)</option>
                       
                      <option>B- (B Rhd negative)</option>

                      </optgroup>
                      <optgroup label="AB group">
                       
                      <option>AB+ (AB Rhd positive)</option>
                       
                      <option>AB- (AB Rhd negative)</option>

                      </optgroup>
                      <optgroup label="O group">
                       
                      <option>O+ (O Rhd positive)</option>
                       
                      <option>O- (O Rhd negative)</option>

                      </optgroup>
                       
                      </select>
                  </div>
                
                  
                </div>  
                <!--<div class="form-group">-->
                <!--  <label for="exampleDropdownFormEmail1">Email address</label>-->
                <!--  <input type="email" class="form-control" name="email" id="exampleDropdownFormEmail1" placeholder="email@example.com">-->
                <!--</div>-->
                <div class="form-row">
                  
                  <div class="form-group col-md-6">
                    <label for="exampleDropdownFormEmail1">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="exampleDropdownFormEmail1" placeholder="Enter your first name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exampleDropdownFormEmail1">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="exampleDropdownFormEmail1" placeholder="Enter your last name">
                  </div>
                  
                </div>
                
                <!--<div class="form-group">-->
                <!--  <label for="exampleDropdownFormEmail1">Blood Type</label>-->
                <!--  <input type="text" class="form-control" name="bloodType" id="exampleDropdownFormEmail1" placeholder="please enter your blood type">-->
                <!--</div>-->
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <select name="country" class="countries" style="width:100%;height:40px;color:gray;" id="countryId">
                        <option value="">Please Select Country</option>
                    </select>
                  </div>  
                  <div class="form-group col-md-6">
                    <input type="text" style="width:100%;height:40px;color:gray;" class="form-control" name="city" id="exampleDropdownFormEmail1" placeholder="City">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                        <input  style="width:100%;height:40px;color:gray;" type="text" class="form-control" name="address" id="exampleDropdownFormEmail1" placeholder="Address">
                  </div>
                  
                <div class="form-group col-md-6">
                  <input type="text" style="width:100%; height:40px;color:gray;" class="form-control" name="postcode" id="exampleDropdownFormEmail1" placeholder="Postcode">
                </div>
                  
                </div>
                
               <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Date of Birth</label>
                    <input type="date" name="dob" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                  </div> 
                <div class="form-group col-md-6">
                  <label for="exampleDropdownFormEmail1">Mobile Phone</label>
                  <input type="tel" id="phone" class="form-control" name="phoneNumber" placeholder="for example: +44 775 157 2909">
                </div>
               </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                  <label for="exampleDropdownFormEmail1">Email</label>
                  <input type="text" class="form-control" name="email" id="exampleDropdownFormEmail1" placeholder="please enter your email address">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exampleDropdownFormPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleDropdownFormPassword1" placeholder="please enter a strong password">
                  </div>
                </div>
                <!--<div class="form-group">-->
                <!--  <label for="exampleDropdownFormPassword1">Repeat Password</label>-->
                <!--  <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Repeat Password">-->
                <!--</div>-->
          
                <button type="submit" class="login">Submit</button>
              
              </form>            
        </div>
        
    </div>
    
</div>

<% include partials/footer%>