<% include partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="height:400px;margin-top:100px;margin-bottom:60px;">
            <div class="row">
                <div class="col-md-6 searchLeft">
                    <h4 style="text-align:left;"><i class="fa fa-info-circle redicon" aria-hidden="true"></i> Information</h4>
                <table class="table table-striped" style="border:1px solid #d43842;">
                  <thead class="tableHead">
                    <tr>
                      <th>Type</th>
                      <th>Can Donate Blood To</th>
                      <th>Can Receive Blood From</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">A+</th>
                      <td>A+, AB+</td>
                      <td>A+, A-, O+, O-</td>
                    </tr>
                    <tr>
                      <th scope="row">O+</th>
                      <td>O+, A+, B+, AB+</td>
                      <td>O+, O-</td>
                    </tr>
                    <tr>
                      <th scope="row">B+</th>
                      <td>B+, AB+</td>
                      <td>B+, B-, O+, O-</td>
                    </tr>
                    <tr>
                      <th scope="row">AB+</th>
                      <td>AB+</td>
                      <td>Everyone</td>
                    </tr>
                     <tr>
                      <th scope="row">A-</th>
                      <td>A+, A-, AB+, AB-</td>
                      <td>A-, O-</td>
                    </tr>
                    <tr>
                      <th scope="row">O-</th>
                      <td>Everyone</td>
                      <td>O-</td>
                    </tr>
                    <tr>
                      <th scope="row">B-</th>
                      <td>B+, B-, AB+, AB-</td>
                      <td>B-, O-</td>
                    </tr>
                    <tr>
                      <th scope="row">AB-</th>
                      <td>AB+, AB-</td>
                      <td>AB-, B-, O-</td>
                    </tr>
                  </tbody>
                </table>
                
                </div>
                <div class="col-md-6">
                   <div class="row">
                      <div class="col-md-10 col-md-offset-1 searchRight">
                          <h4 style="color:white;text-align:center;">Which Blood Group<i class="fa fa-question" aria-hidden="true"></i></h4>
                          <hr>
                          <form class="px-4 py-3" action="/results" method="GET">
                              <div class="form-row">
                                  <div class="form-group col-md-12">
                                      <label for="exampleDropdownFormEmail1" style="color:white;"> Select Your Blood Type</label>
                                      <select class="selectpicker" name="bloodType"  data-style="btn-info" multiple data-max-options="1" data-live-search="true">
                     
                                          <optgroup label="A group">
                                           
                                          <option>A+ (A Rhd positive)</option>
                                           
                                          <option>A- (A Rhd negative)</option>
                                           
                                          </optgroup>
                                           
                                          <optgroup label="B group">
                                           
                                          <option>B+ (B Rhd positive)</option>
                                           
                                          <option>B- (B Rhd negative)</option>
                    
                                          </optgroup>
                                          <optgroup label="AB group">
                                           
                                          <option>AB+ (AB Rhd positive)</option>
                                           
                                          <option>AB- (AB Rhd negative)</option>
                    
                                          </optgroup>
                                          <optgroup label="O group">
                                           
                                          <option>O+ (O Rhd positive)</option>
                                           
                                          <option>O- (O Rhd negative)</option>
                    
                                          </optgroup>
                                           
                                          </select>
                                      </div>
                              </div>
                              
                            <div class="form-row">
                      
                              <div class="form-group col-md-6">
                                <select name="country" class="countries" style="width:100%;height:40px;color:gray;" id="countryId">
                                    <option value="">Please Select Country</option>
                                </select>
                              </div>  
                              <div class="form-group col-md-6">
                                <input type="text" style="width:100%;height:40px;color:gray;" class="form-control" name="city" id="exampleDropdownFormEmail1" placeholder="City">
                              </div>
                            </div>
                            <div class="form-row">
                              <!--<div class="form-group col-md-6">-->
                              <!--      <input  style="width:100%;height:40px;color:gray;" type="text" class="form-control" name="address" id="exampleDropdownFormEmail1" placeholder="Address">-->
                              <!--</div>-->
                              
                            <div class="form-group col-md-6">
                              <input type="text" style="width:100%; height:40px;color:gray;" class="form-control" name="postcode" id="exampleDropdownFormEmail1" placeholder="Postcode">
                            </div>
                              
                            </div>
                            <button class="btn-full-search" value="submit" type="submit">Search</button>
                          </form>
                          
                      </div>
                      <div class="col-md-10 col-md-offset-1">
                          <button class="btn-full-more"><i class="fa fa-ambulance" aria-hidden="true"></i> Alert Emergency</button>
                          <p style="padding:5px;"><i class="fa fa-exclamation-triangle redicon" aria-hidden="true"></i> This feature should only be used when there is a need for a massive blood in
                          an area because of a natural disaster or a terror attack.</p>
                      </div>
                      
                   </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer%>